# Core Data & Orchestration
pandas==1.5.2
prefect==2.14.21
prefect-sqlalchemy==0.2.2
sqlalchemy==1.4.46

# Database & dbt
psycopg2-binary==2.9.5
dbt-postgres==1.5.0

# API & Visualization
metabase-api==3.5.2
requests==2.31.0

#Prefect 2.14.21 
pydantic<2
anyio<4
griffe==0.30.0
typer<0.10.0